<%- include('./shared/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    </head>

    <body>
        <main>


            <div style="width: 300px; height:100px; background: rgb(218, 103, 103);">
               <p> <%= errorMsg %></p>
            </div>



        </main>
        <%- include('./shared/end.ejs') %>