<%- include('./shared/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    </head>

    <body>
        <main>
            <div>Hello world</div>
        </main>
        <%- include('./shared/end.ejs') %>