<%- include('./shared/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    </head>

    <body>
        <main>
            <div>Hello world</div>
            <% for(var i=0; i<students.length; i++) {%>
                <div>
                    <%= students[i].firstname%>
                </div>

                <% } %>
        </main>
        <%- include('./shared/end.ejs') %>